<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/home-admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.ListUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListAdminsServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.ListAdminsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAdminsServlet</servlet-name>
        <url-pattern>/listAdmins</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>com.example.backoffice2.servlet.AddAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>

</web-app>