.my-custom-bg {
    background-color: #b86227;
    padding: 20px;
}

.my-card-bg {
    background-color: #70370f;
    padding: 20px;
}

.my-btn-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/68.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    background-attachment: fixed;
    padding: 20px;
    width: 100%;
    min-height: 100%;
}